# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# MacOS / Linux junk
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Project-specific
file.json
